.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background:black;
}
.userAddress {
  border:1px solid green;
  padding:5px 10px;
  color:white;
  box-shadow: 0px 2px 11px 10px rgb(129 210 210 / 50%);
  border-radius: 5px;
}
.buttons-wrapper-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.btns{
  outline:none;
  border:none;
  padding: 10px 20px 10px 20px;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
  margin-right: 10px;
  font-family: Arial;
  border-radius:4px;
}
#logIn {
  background: #3498db;
  color: #ffffff;
  text-decoration: none;
}
#logIn:hover {
  background: #3cb0fd;
  color:yellow;
}
#logOut{
  box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
  color: #ffffff;
}
#logOut:hover{
  background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
  color:yellow;
}
.buttons-wrapper-2 {
  margin-top: 12px;
  padding:10px;
  height:100px;
}
.m-wrapper {
  display:flex;
  flex-direction:column;
  margin-left: 230px;
  margin-top: -28px;
}
.mint-btn{
  margin-bottom: 10px;
  box-shadow:inset 0px -3px 7px 0px #29bbff;
	background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
	background-color:#2dabf9;
}
.view-btn {
  box-shadow: 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
}
.mint-btn:hover{
  background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
	background-color:#0688fa;
}
.view-btn:hover{
  background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color:#ffab23;
}

.input-wrapper{
  border:1px solid red;
  width:180px;
}

.form-control {
  width: 200px;
  background: rgb(255 255 0);
  color: rgb(0 0 0);
  font-size: 14px;
  padding: 3px 4px;
  border-radius: 5px;
  font-weight: bold;
}
.img-wrapper {
  box-shadow: 0px 4px 40px 20px rgba(47, 160, 160, 0.22);
  border-radius: 5px;
}
h2{
  color:white;
  text-align:center;
}
img {
  width: 200px;
  height: 200px;
  border-radius: 5px 5px 0px 0px;
}